Dogs.json
[{"id":"714db96dc7a84ed7","type":"subflow","name":"Pico Buttons","info":"","category":"HA Actions","in":[{"x":60,"y":240,"wires":[{"id":"bae1797bfa3badfb"}]}],"out":[{"x":460,"y":120,"wires":[{"id":"bae1797bfa3badfb","port":0}]},{"x":460,"y":180,"wires":[{"id":"bae1797bfa3badfb","port":1}]},{"x":470,"y":240,"wires":[{"id":"bae1797bfa3badfb","port":2}]},{"x":470,"y":300,"wires":[{"id":"bae1797bfa3badfb","port":3}]},{"x":460,"y":360,"wires":[{"id":"bae1797bfa3badfb","port":4}]}],"env":[],"meta":{},"color":"#DDAA99","outputLabels":["On","Up","Center","Down","Off"]},{"id":"bae1797bfa3badfb","type":"switch","z":"714db96dc7a84ed7","name":"","property":"payload.event.button_number","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":240,"wires":[[],[],[],[],[]]},{"id":"dbd0b792c3e3a4e4","type":"tab","label":"Dogs","disabled":false,"info":"","env":[]},{"id":"e0477075ce17973e","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"nag on","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.nag_dogs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":520,"wires":[["af69991b182e8df5"]]},{"id":"809fd222364b95f8","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":790,"y":620,"wires":[["53281b30e592b3a3"]]},{"id":"53281b30e592b3a3","type":"api-current-state","z":"dbd0b792c3e3a4e4","name":"nag","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nag_dogs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":620,"wires":[["46d0de1425a7ace1"],[]]},{"id":"af69991b182e8df5","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"Twisted Home","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"tts","service":"google_translate_say","areaId":[],"deviceId":[],"entityId":["media_player.twisted_home"],"data":"{\"message\": \"Time for Oogie's shot\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":560,"wires":[["809fd222364b95f8"]]},{"id":"906fbef589b6cabf","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"nag on","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.nag_dogs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":370,"y":280,"wires":[["ca41e112e797c073"]]},{"id":"793056f3c653042e","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":790,"y":380,"wires":[["26e8bbd7a71a02e4"]]},{"id":"26e8bbd7a71a02e4","type":"api-current-state","z":"dbd0b792c3e3a4e4","name":"nag","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.nag_dogs","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":380,"wires":[["9c8cbb818c4fa17b"],["74be0d0bbd2f8625"]]},{"id":"ca41e112e797c073","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"Twisted Home","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"tts","service":"google_translate_say","areaId":[],"deviceId":[],"entityId":["media_player.twisted_home"],"data":"{\"message\": \"Time to feed the dogs\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":800,"y":320,"wires":[["793056f3c653042e"]]},{"id":"5b97788e4b30a677","type":"subflow:714db96dc7a84ed7","z":"dbd0b792c3e3a4e4","name":"","x":370,"y":820,"wires":[[],[],["9dc592651538b341"],[],[]]},{"id":"d9f585a784f1bece","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"Dog Nag Off","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.nag_dogs"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":820,"wires":[[]]},{"id":"471694406d140c36","type":"link in","z":"dbd0b792c3e3a4e4","name":"Dogs","links":["466bbfdf7a50fb43"],"x":190,"y":820,"wires":[["5b97788e4b30a677"]],"l":true},{"id":"3234c8a856ce7f26","type":"inject","z":"dbd0b792c3e3a4e4","name":"07:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 07 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["906fbef589b6cabf"]]},{"id":"062a1cf84b29d2e4","type":"inject","z":"dbd0b792c3e3a4e4","name":"18:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 18 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":280,"wires":[["906fbef589b6cabf"]]},{"id":"f2da481e1b3ffd9a","type":"inject","z":"dbd0b792c3e3a4e4","name":"8:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":500,"wires":[[]]},{"id":"60ac4e8e8f451a00","type":"inject","z":"dbd0b792c3e3a4e4","name":"19:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 19 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":560,"wires":[[]]},{"id":"53ee275f9a098da5","type":"debug","z":"dbd0b792c3e3a4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":1400,"wires":[]},{"id":"1b84c59e12202f0d","type":"switch","z":"dbd0b792c3e3a4e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1280,"wires":[["1e2beede89b7c4f1","63789324042ab4d5","67cff9c31b3a6fc3"],["53ee275f9a098da5","b89d09f0db98ba59"]]},{"id":"1e2beede89b7c4f1","type":"debug","z":"dbd0b792c3e3a4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":1340,"wires":[]},{"id":"63789324042ab4d5","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":470,"y":1160,"wires":[["405c77758d2e6d58"]]},{"id":"67cff9c31b3a6fc3","type":"stoptimer","z":"dbd0b792c3e3a4e4","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":320,"y":1100,"wires":[["2992731e8706ed6d"],[]]},{"id":"b89d09f0db98ba59","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"set guest","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.guests"],"data":"{\"entity_id\":\"input_number.guests\",\"value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":1460,"wires":[[]]},{"id":"405c77758d2e6d58","type":"switch","z":"dbd0b792c3e3a4e4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":1160,"wires":[["73b17eef98f1905a"],["d769cbd2ce710528"]]},{"id":"2992731e8706ed6d","type":"change","z":"dbd0b792c3e3a4e4","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"msg.reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1100,"wires":[["73b17eef98f1905a"]]},{"id":"73b17eef98f1905a","type":"counter","z":"dbd0b792c3e3a4e4","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":780,"y":1140,"wires":[["05659a2d806eab0d","6bbde4420a3415dd"]]},{"id":"d769cbd2ce710528","type":"debug","z":"dbd0b792c3e3a4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":770,"y":1300,"wires":[]},{"id":"05659a2d806eab0d","type":"switch","z":"dbd0b792c3e3a4e4","name":"","property":"reset","propertyType":"msg","rules":[{"t":"eq","v":"msg.reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":1160,"wires":[[],["8a5cebb8cae6e3ad"]]},{"id":"6bbde4420a3415dd","type":"debug","z":"dbd0b792c3e3a4e4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":1100,"wires":[]},{"id":"8a5cebb8cae6e3ad","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"set guest","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.guests"],"data":"{\"entity_id\":\"input_number.guests\",\"value\":\"{{count}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":1220,"wires":[[]]},{"id":"9c8cbb818c4fa17b","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"volume up","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"media_player","service":"volume_up","areaId":[],"deviceId":[],"entityId":["media_player.twisted_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":340,"wires":[["7d8a7f8182f324be"]]},{"id":"9dc592651538b341","type":"change","z":"dbd0b792c3e3a4e4","name":"","rules":[{"t":"set","p":"count","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["d9f585a784f1bece","4765069b88f206c3"]]},{"id":"4765069b88f206c3","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"volume return","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"media_player","service":"volume_set","areaId":[],"deviceId":[],"entityId":["media_player.twisted_home"],"data":"{\"volume_level\": \".5\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":760,"wires":[[]]},{"id":"9c2ec247ecbaa969","type":"inject","z":"dbd0b792c3e3a4e4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":800,"y":240,"wires":[["ca41e112e797c073"]]},{"id":"46d0de1425a7ace1","type":"api-call-service","z":"dbd0b792c3e3a4e4","name":"volume up","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"media_player","service":"volume_up","areaId":[],"deviceId":[],"entityId":["media_player.twisted_home"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":580,"wires":[["e7edcbbd9b16bf6a"]]},{"id":"7d8a7f8182f324be","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":340,"wires":[["ca41e112e797c073"]]},{"id":"e7edcbbd9b16bf6a","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":580,"y":580,"wires":[["af69991b182e8df5"]]},{"id":"74be0d0bbd2f8625","type":"delay","z":"dbd0b792c3e3a4e4","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":450,"y":460,"wires":[["e0477075ce17973e"]]},{"id":"5dbd87ab.75cd58","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"fae82b56.5dc228","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]