flows.json
[{"id":"6c4f774f3df3b581","type":"tab","label":"School","disabled":false,"info":"","env":[]},{"id":"54d94ebbf11c9993","type":"poll-state","z":"6c4f774f3df3b581","name":"","server":"5dbd87ab.75cd58","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"1","updateIntervalType":"num","updateIntervalUnits":"hours","outputinitially":true,"outputonchanged":true,"entity_id":"calendar.escuela_10_1","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":330,"y":360,"wires":[["ad34f2d4e04abf0a","a28f8dc9d2e7ded7"]]},{"id":"ad34f2d4e04abf0a","type":"change","z":"6c4f774f3df3b581","name":"startTime","rules":[{"t":"set","p":"startTime","pt":"flow","to":"data.attributes.start_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":320,"wires":[[]]},{"id":"962b3dccecbb3750","type":"poll-state","z":"6c4f774f3df3b581","name":"","server":"5dbd87ab.75cd58","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":false,"entity_id":"sensor.date_time","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":310,"y":440,"wires":[["40ad14eee1eb84fb"]]},{"id":"a28f8dc9d2e7ded7","type":"change","z":"6c4f774f3df3b581","name":"endTime","rules":[{"t":"set","p":"endTime","pt":"flow","to":"data.attributes.end_time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[[]]},{"id":"8fa966c252c27d41","type":"debug","z":"6c4f774f3df3b581","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1100,"y":500,"wires":[]},{"id":"40ad14eee1eb84fb","type":"change","z":"6c4f774f3df3b581","name":"","rules":[{"t":"set","p":"startTime","pt":"msg","to":"startTime","tot":"flow"},{"t":"set","p":"endTime","pt":"msg","to":"endTime","tot":"flow"},{"t":"set","p":"currentTime","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["a20d0ec0173a4715"]]},{"id":"a20d0ec0173a4715","type":"function","z":"6c4f774f3df3b581","name":"Time Difference","func":"var startDate = msg.startTime.split(' ')[0]\nvar start = msg.startTime.split(' ')[1]\nvar endDate = msg.endTime.split(' ')[0]\nvar end = msg.endTime.split(' ')[1]\nvar now = msg.currentTime.split(', ')[1]\nvar today = msg.currentTime.split(', ')[0]\n\nstart = Number(start.split(':').join(''))/100\nend = Number(end.split(':').join(''))/100\nnow = Number(now.split(':').join(''))\nvar diff\n\n\n\nif(start-now > end-now){\n    diff = (start-now)\n}else diff = (end-now)\n\nvar min = Number(diff.toString().slice(-2))\nvar hour\n\nif(diff.length <= 2){\n    hour = 0\n}else if (diff.length === 3){\n    hour = Number(diff.toString().slice(1))\n}else {\n    hour = Number(diff.toString().slice(2))\n};\n\nif(min > 59){\n    diff = diff-40\n    min = min-40\n};\nvar time = hour.toString() + \":\" + min.toString() + \":00\"\n\nvar todayMonth = Number(today.split('-')[1])\nvar todayDay = Number(today.split('-')[2])\nvar endMonth = Number(endDate.split('-')[1])\nvar endDay = Number(endDate.split('-')[2])\n\nif(todayDay + 1 === endDay){\n    hour+=24\n}else if(todayMonth !== endMonth){\n    hour+=24\n};\n\nreturn {'difference': diff, 'time':time, 'Today': today, 'End Date': endDate}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":520,"wires":[["8fa966c252c27d41","b8107b5533d1081c"]]},{"id":"b8107b5533d1081c","type":"api-call-service","z":"6c4f774f3df3b581","name":"","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"timer","service":"start","areaId":[],"deviceId":[],"entityId":["timer.time_remaining"],"data":"{\"duration\": msg.time}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":560,"wires":[[]]},{"id":"696bb74d5363d66c","type":"trigger-state","z":"6c4f774f3df3b581","name":"School Out","server":"5dbd87ab.75cd58","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"calendar.escuela_10_1","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","enableInput":false,"x":240,"y":660,"wires":[[],[]]},{"id":"30a90bffb40c5d64","type":"api-call-service","z":"6c4f774f3df3b581","name":"","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"timer","service":"cancel","areaId":[],"deviceId":[],"entityId":["timer.time_remaining"],"data":"{\"duration\": msg.time}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":660,"wires":[[]]},{"id":"5dbd87ab.75cd58","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]