guests.json
[{"id":"2880df52.2bd68","type":"tab","label":"Guests","disabled":false,"info":""},{"id":"26707498.e0ed2c","type":"debug","z":"2880df52.2bd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":520,"wires":[]},{"id":"80690c75.525ae","type":"switch","z":"2880df52.2bd68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":380,"wires":[["72df6287.8a995c"],["26707498.e0ed2c"]]},{"id":"72df6287.8a995c","type":"counter","z":"2880df52.2bd68","name":"","init":"0","step":"1","lower":null,"upper":null,"mode":"increment","outputs":"1","x":620,"y":360,"wires":[["ce2b63b2.769e2","b895ed3f.2fed8"]]},{"id":"8e9f91d3.51211","type":"delay","z":"2880df52.2bd68","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":310,"y":380,"wires":[["80690c75.525ae"]]},{"id":"b895ed3f.2fed8","type":"debug","z":"2880df52.2bd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":320,"wires":[]},{"id":"2396001b.3125a","type":"change","z":"2880df52.2bd68","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"msg.reset","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["72df6287.8a995c"]]},{"id":"be38e22b.2b0c","type":"api-call-service","z":"2880df52.2bd68","name":"set guest","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.guests"],"data":"{\"entity_id\":\"input_number.guests\",\"value\":\"{{count}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":440,"wires":[[]]},{"id":"37bc1d1e.1c1ca2","type":"switch","z":"2880df52.2bd68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":500,"wires":[["df4b8610.f29508","8e9f91d3.51211","35ccb65f.7bef1a"],["993cf567.967d88","2f121ecd.3de852"]]},{"id":"df4b8610.f29508","type":"debug","z":"2880df52.2bd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":450,"y":560,"wires":[]},{"id":"993cf567.967d88","type":"debug","z":"2880df52.2bd68","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":620,"wires":[]},{"id":"ce2b63b2.769e2","type":"switch","z":"2880df52.2bd68","name":"","property":"reset","propertyType":"msg","rules":[{"t":"eq","v":"msg.reset","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":380,"wires":[[],["be38e22b.2b0c"]]},{"id":"73ba186e.b117a8","type":"ping","z":"2880df52.2bd68","mode":"timed","name":"","host":"192.168.1.225, 192.168.1.226, 192.168.1.227, 192.168.1.228, 192.168.1.229, 192.168.1.230, 192.168.1.231, 192.168.1.232, 192.168.1.233, 192.168.1.234, 192.168.1.235, 192.168.1.236, 192.168.1.237, 192.168.1.238, 192.168.1.172","timer":"600","inputs":0,"x":90,"y":640,"wires":[["37bc1d1e.1c1ca2"]]},{"id":"2f121ecd.3de852","type":"api-call-service","z":"2880df52.2bd68","name":"set guest","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_number","service":"set_value","areaId":[],"deviceId":[],"entityId":["input_number.guests"],"data":"{\"entity_id\":\"input_number.guests\",\"value\":\"0\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":680,"wires":[[]]},{"id":"35ccb65f.7bef1a","type":"stoptimer","z":"2880df52.2bd68","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":160,"y":320,"wires":[["2396001b.3125a"],[]]},{"id":"fae82b56.5dc228","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]