Pico Buttons.json
[{"id":"714db96dc7a84ed7","type":"subflow","name":"Pico Buttons","info":"","category":"HA Actions","in":[{"x":60,"y":240,"wires":[{"id":"bae1797bfa3badfb"}]}],"out":[{"x":460,"y":120,"wires":[{"id":"bae1797bfa3badfb","port":0}]},{"x":460,"y":180,"wires":[{"id":"bae1797bfa3badfb","port":1}]},{"x":470,"y":240,"wires":[{"id":"bae1797bfa3badfb","port":2}]},{"x":470,"y":300,"wires":[{"id":"bae1797bfa3badfb","port":3}]},{"x":460,"y":360,"wires":[{"id":"bae1797bfa3badfb","port":4}]}],"env":[],"meta":{},"color":"#DDAA99","outputLabels":["On","Up","Center","Down","Off"]},{"id":"bae1797bfa3badfb","type":"switch","z":"714db96dc7a84ed7","name":"","property":"payload.event.button_number","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":240,"wires":[[],[],[],[],[]]}]