Pico Remotes.json
[{"id":"d8a4cc4f12531657","type":"subflow","name":"Press/Hold","info":"","category":"HA Actions","in":[{"x":60,"y":100,"wires":[{"id":"7323f63dce01feb6"}]}],"out":[{"x":1030,"y":140,"wires":[{"id":"5517dfbd82a0506d","port":0}]},{"x":1040,"y":200,"wires":[{"id":"5517dfbd82a0506d","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","outputLabels":["Press Only","Press and Hold"]},{"id":"7323f63dce01feb6","type":"switch","z":"d8a4cc4f12531657","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["0b939725e42d26f9"],["6633151feb9748ad"]]},{"id":"70b918ff7b4471d5","type":"inject","z":"d8a4cc4f12531657","name":"Push","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":280,"wires":[["2cb95c1ea4a23b61"]]},{"id":"c600c6322a220180","type":"inject","z":"d8a4cc4f12531657","name":"Release","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":280,"y":320,"wires":[["2cb95c1ea4a23b61"]]},{"id":"2cb95c1ea4a23b61","type":"function","z":"d8a4cc4f12531657","name":"Press/Hold","func":"var pending = context.get(\"pending\");\nif(msg.hold === 0){\n    if(pending){\n        context.set(\"pending\", false);\n    }else{\n        context.set(\"pending\",true);\n        msg.command = \"hold\";\n        return [msg,null];\n    }\n}else if (msg.hold === 1){\n    if(pending){\n        msg.reset = true;\n        msg.command = \"push\";\n        context.set(\"pending\",false);\n        return [msg,msg];\n    }\n}","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"pending\", false)","finalize":"","libs":[],"x":570,"y":100,"wires":[["c91af03fed6ff111"],["5517dfbd82a0506d"]],"outputLabels":["Hold","Push"]},{"id":"c91af03fed6ff111","type":"delay","z":"d8a4cc4f12531657","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":200,"wires":[["2cb95c1ea4a23b61","5517dfbd82a0506d"]]},{"id":"26397aef1170e37c","type":"debug","z":"d8a4cc4f12531657","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":60,"wires":[]},{"id":"0b939725e42d26f9","type":"change","z":"d8a4cc4f12531657","name":"","rules":[{"t":"set","p":"hold","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["2cb95c1ea4a23b61"]]},{"id":"6633151feb9748ad","type":"change","z":"d8a4cc4f12531657","name":"","rules":[{"t":"set","p":"hold","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["2cb95c1ea4a23b61"]]},{"id":"5517dfbd82a0506d","type":"switch","z":"d8a4cc4f12531657","name":"","property":"hold","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":160,"wires":[["26397aef1170e37c"],["a638345174da3959"]]},{"id":"a638345174da3959","type":"debug","z":"d8a4cc4f12531657","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]},{"id":"5cf8d646.25d7f8","type":"tab","label":"Pico Remote","disabled":false,"info":""},{"id":"b191ed37.c9803","type":"debug","z":"5cf8d646.25d7f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":250,"y":160,"wires":[]},{"id":"f340dc76.d9a7f","type":"server-events","z":"5cf8d646.25d7f8","name":"Lutron Events","server":"fae82b56.5dc228","version":2,"eventType":"lutron_caseta_button_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":90,"y":400,"wires":[["b589ee2b.70e34","b191ed37.c9803","decca8c9c8b0506e"]]},{"id":"b589ee2b.70e34","type":"switch","z":"5cf8d646.25d7f8","name":"Device","property":"payload.event.device_name","propertyType":"msg","rules":[{"t":"eq","v":"Brad","vt":"str"},{"t":"eq","v":"Lydia","vt":"str"},{"t":"eq","v":"Johnathan Remote","vt":"str"},{"t":"eq","v":"Pico","vt":"str"},{"t":"eq","v":"Kitchen Pico","vt":"str"},{"t":"eq","v":"Custom Pico","vt":"str"},{"t":"eq","v":"Hall 2","vt":"str"},{"t":"eq","v":"Living Room Pico","vt":"str"},{"t":"eq","v":"Laundry Pico","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":270,"y":400,"wires":[["7efd6334.55de3c","7ab44c5b7ae79af6"],["ce32706e.dcd6f","4a52fd528f785449"],["ab4ff9a0.3c7788","0eb84213a7ab77ad"],["567f09c7.cee4a8","a0ed7df95cbec77b"],["a5d408b2.2338b8","b7729bba4e038138"],["8eac83eb.3c708","2411e71bd99ef671"],["cbb605aa.8b2088","e108dc063bbc6a03"],["306ebbf3.451934","af7ba8ff7c45ea15"],["7420f51c.3f14bc","fc09272ed5a4fbc4"]]},{"id":"7efd6334.55de3c","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Brad","links":["fff452e6.f7c03","975c4eaf.7ff2f","d50ff660.a37248","434d166e80260963","229e345e566805dc"],"x":700,"y":260,"wires":[],"l":true},{"id":"ce32706e.dcd6f","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Lydia","links":["966fa5d0.4f6f48","c414e00553c949e3"],"x":710,"y":300,"wires":[],"l":true},{"id":"ab4ff9a0.3c7788","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Living 2","mode":"link","links":["dbccd08b.8dd65","75caf37802dfb32b"],"x":710,"y":340,"wires":[],"l":true},{"id":"567f09c7.cee4a8","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Kitchen","mode":"link","links":["8c4877a8.6e2868","95d5589b2f71156e"],"x":710,"y":380,"wires":[],"l":true},{"id":"a5d408b2.2338b8","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Living Room","mode":"link","links":["3fc0b82.c30f348"],"x":730,"y":420,"wires":[],"l":true},{"id":"8eac83eb.3c708","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Desk","links":["8129af8e4d3c8b48","276dd2ad2e4af053","37bdc8ac59ce8774"],"x":700,"y":460,"wires":[],"l":true},{"id":"cbb605aa.8b2088","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Hall","links":[],"x":700,"y":500,"wires":[],"l":true},{"id":"306ebbf3.451934","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Living","links":["2ed672b0.a2f85e","575868bdcb484fd0","bebe62a998157cf7"],"x":710,"y":540,"wires":[],"l":true},{"id":"7420f51c.3f14bc","type":"link out","z":"5cf8d646.25d7f8","name":"Pico Laundry","mode":"link","links":["d8554be21f35ca8c"],"x":710,"y":580,"wires":[],"l":true},{"id":"795189ed.454898","type":"comment","z":"5cf8d646.25d7f8","name":"On","info":"","x":1290,"y":60,"wires":[]},{"id":"b14e6f68.6bef9","type":"comment","z":"5cf8d646.25d7f8","name":"Up","info":"","x":1290,"y":100,"wires":[]},{"id":"c3565b8b.6f8c78","type":"comment","z":"5cf8d646.25d7f8","name":"Fav","info":"","x":1290,"y":140,"wires":[]},{"id":"e867a739.7898a8","type":"comment","z":"5cf8d646.25d7f8","name":"Down","info":"","x":1290,"y":180,"wires":[]},{"id":"670f6899.15f3a8","type":"comment","z":"5cf8d646.25d7f8","name":"Off","info":"","x":1290,"y":220,"wires":[]},{"id":"decca8c9c8b0506e","type":"debug","z":"5cf8d646.25d7f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.event.device_name","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":220,"wires":[]},{"id":"7ab44c5b7ae79af6","type":"debug","z":"5cf8d646.25d7f8","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":260,"wires":[]},{"id":"4a52fd528f785449","type":"debug","z":"5cf8d646.25d7f8","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":300,"wires":[]},{"id":"0eb84213a7ab77ad","type":"debug","z":"5cf8d646.25d7f8","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":340,"wires":[]},{"id":"a0ed7df95cbec77b","type":"debug","z":"5cf8d646.25d7f8","name":"debug 4","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":380,"wires":[]},{"id":"b7729bba4e038138","type":"debug","z":"5cf8d646.25d7f8","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":420,"wires":[]},{"id":"2411e71bd99ef671","type":"debug","z":"5cf8d646.25d7f8","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":460,"wires":[]},{"id":"e108dc063bbc6a03","type":"debug","z":"5cf8d646.25d7f8","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":500,"wires":[]},{"id":"af7ba8ff7c45ea15","type":"debug","z":"5cf8d646.25d7f8","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":540,"wires":[]},{"id":"fc09272ed5a4fbc4","type":"debug","z":"5cf8d646.25d7f8","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":580,"wires":[]},{"id":"71be71049fd6b667","type":"subflow:d8a4cc4f12531657","z":"5cf8d646.25d7f8","name":"Press/Hold","x":390,"y":980,"wires":[["7670bcab2e9c96e5","466bbfdf7a50fb43"],["d612e79ebd360246"]]},{"id":"37bdc8ac59ce8774","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Desk","links":["8eac83eb.3c708"],"x":180,"y":1000,"wires":[["71be71049fd6b667"]],"l":true,"info":"Pico Desk"},{"id":"575868bdcb484fd0","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Living","links":["306ebbf3.451934"],"x":180,"y":940,"wires":[["71be71049fd6b667"]],"l":true},{"id":"7670bcab2e9c96e5","type":"link out","z":"5cf8d646.25d7f8","name":"Radio","mode":"link","links":["36f5fe3a63aa7f1e"],"x":590,"y":780,"wires":[],"l":true},{"id":"d612e79ebd360246","type":"link out","z":"5cf8d646.25d7f8","name":"Vacuum","mode":"link","links":["1fa142ac86fdd829"],"x":600,"y":1040,"wires":[],"l":true},{"id":"966fa5d0.4f6f48","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Lydia","links":["ce32706e.dcd6f"],"x":180,"y":680,"wires":[["b89489e6ab12e108"]],"l":true},{"id":"cb8a9b580d8b3eeb","type":"switch","z":"5cf8d646.25d7f8","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":1360,"wires":[["2c8efb70.564574"],[]]},{"id":"3fc0b82.c30f348","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Living Room","links":["a5d408b2.2338b8"],"x":160,"y":1060,"wires":[["71be71049fd6b667"]],"l":true},{"id":"2c8efb70.564574","type":"switch","z":"5cf8d646.25d7f8","name":"Button","property":"payload.event.button_number","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"3","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":550,"y":1360,"wires":[["27285cca97496319"],["f79b96f.e0bb768"],[],[],["9dbb22472c086a67"]]},{"id":"27285cca97496319","type":"api-call-service","z":"5cf8d646.25d7f8","name":"whos turn is it","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.whos_turn_is_it"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1340,"wires":[[]]},{"id":"f79b96f.e0bb768","type":"api-call-service","z":"5cf8d646.25d7f8","name":"dishes are done","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"input_select","service":"select_next","areaId":[],"deviceId":[],"entityId":["input_select.whos_turn"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":1380,"wires":[[]]},{"id":"9dbb22472c086a67","type":"api-current-state","z":"5cf8d646.25d7f8","name":"cleaning","server":"fae82b56.5dc228","version":3,"outputs":2,"halt_if":"cleaning","halt_if_type":"str","halt_if_compare":"is","entity_id":"vacuum.roomba960","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":1480,"wires":[["5d64250db4e5254e"],["89b7cfa141f2f2f9"]]},{"id":"9f6d10b27631b795","type":"inject","z":"5cf8d646.25d7f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":480,"y":1520,"wires":[["9dbb22472c086a67"]]},{"id":"5d64250db4e5254e","type":"api-call-service","z":"5cf8d646.25d7f8","name":"","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"vacuum","service":"pause","areaId":[],"deviceId":[],"entityId":["vacuum.roomba960"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":1460,"wires":[[]]},{"id":"89b7cfa141f2f2f9","type":"api-call-service","z":"5cf8d646.25d7f8","name":"","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"vacuum","service":"start","areaId":[],"deviceId":[],"entityId":["vacuum.roomba960"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":1540,"wires":[[]]},{"id":"b89489e6ab12e108","type":"subflow:d8a4cc4f12531657","z":"5cf8d646.25d7f8","name":"Press/Hold","x":390,"y":720,"wires":[["e4baa7c74064f6cd"],["d612e79ebd360246"]]},{"id":"e4baa7c74064f6cd","type":"link out","z":"5cf8d646.25d7f8","name":"Lights","mode":"link","links":["0c0866d37ef227be"],"x":570,"y":660,"wires":[],"l":true},{"id":"434d166e80260963","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Brad","links":["7efd6334.55de3c"],"x":180,"y":760,"wires":[["b89489e6ab12e108"]],"l":true},{"id":"95d5589b2f71156e","type":"link in","z":"5cf8d646.25d7f8","name":"Pico Kitchen","links":["567f09c7.cee4a8"],"x":170,"y":1120,"wires":[["71be71049fd6b667"]],"l":true},{"id":"466bbfdf7a50fb43","type":"link out","z":"5cf8d646.25d7f8","name":"Dogs","mode":"link","links":["471694406d140c36"],"x":590,"y":900,"wires":[],"l":true},{"id":"fae82b56.5dc228","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]