press.hold.json
[{"id":"d8a4cc4f12531657","type":"subflow","name":"Press/Hold","info":"","category":"HA Actions","in":[{"x":60,"y":100,"wires":[{"id":"7323f63dce01feb6"}]}],"out":[{"x":1030,"y":140,"wires":[{"id":"5517dfbd82a0506d","port":0}]},{"x":1040,"y":200,"wires":[{"id":"5517dfbd82a0506d","port":1}]}],"env":[],"meta":{},"color":"#3FADB5","outputLabels":["Press Only","Press and Hold"]},{"id":"7323f63dce01feb6","type":"switch","z":"d8a4cc4f12531657","name":"","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"press","vt":"str"},{"t":"eq","v":"release","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":100,"wires":[["0b939725e42d26f9"],["6633151feb9748ad"]]},{"id":"70b918ff7b4471d5","type":"inject","z":"d8a4cc4f12531657","name":"Push","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":290,"y":280,"wires":[["2cb95c1ea4a23b61"]]},{"id":"c600c6322a220180","type":"inject","z":"d8a4cc4f12531657","name":"Release","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":280,"y":320,"wires":[["2cb95c1ea4a23b61"]]},{"id":"2cb95c1ea4a23b61","type":"function","z":"d8a4cc4f12531657","name":"Press/Hold","func":"var pending = context.get(\"pending\");\nif(msg.hold === 0){\n    if(pending){\n        context.set(\"pending\", false);\n    }else{\n        context.set(\"pending\",true);\n        msg.command = \"hold\";\n        return [msg,null];\n    }\n}else if (msg.hold === 1){\n    if(pending){\n        msg.reset = true;\n        msg.command = \"push\";\n        context.set(\"pending\",false);\n        return [msg,msg];\n    }\n}","outputs":2,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\ncontext.set(\"pending\", false)","finalize":"","libs":[],"x":570,"y":100,"wires":[["c91af03fed6ff111"],["5517dfbd82a0506d"]],"outputLabels":["Hold","Push"]},{"id":"c91af03fed6ff111","type":"delay","z":"d8a4cc4f12531657","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":620,"y":200,"wires":[["2cb95c1ea4a23b61","5517dfbd82a0506d"]]},{"id":"26397aef1170e37c","type":"debug","z":"d8a4cc4f12531657","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":60,"wires":[]},{"id":"0b939725e42d26f9","type":"change","z":"d8a4cc4f12531657","name":"","rules":[{"t":"set","p":"hold","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":80,"wires":[["2cb95c1ea4a23b61"]]},{"id":"6633151feb9748ad","type":"change","z":"d8a4cc4f12531657","name":"","rules":[{"t":"set","p":"hold","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":120,"wires":[["2cb95c1ea4a23b61"]]},{"id":"5517dfbd82a0506d","type":"switch","z":"d8a4cc4f12531657","name":"","property":"hold","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":160,"wires":[["26397aef1170e37c"],["a638345174da3959"]]},{"id":"a638345174da3959","type":"debug","z":"d8a4cc4f12531657","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":280,"wires":[]}]