Radio.json
[{"id":"714db96dc7a84ed7","type":"subflow","name":"Pico Buttons","info":"","category":"HA Actions","in":[{"x":60,"y":240,"wires":[{"id":"bae1797bfa3badfb"}]}],"out":[{"x":460,"y":120,"wires":[{"id":"bae1797bfa3badfb","port":0}]},{"x":460,"y":180,"wires":[{"id":"bae1797bfa3badfb","port":1}]},{"x":470,"y":240,"wires":[{"id":"bae1797bfa3badfb","port":2}]},{"x":470,"y":300,"wires":[{"id":"bae1797bfa3badfb","port":3}]},{"x":460,"y":360,"wires":[{"id":"bae1797bfa3badfb","port":4}]}],"env":[],"meta":{},"color":"#DDAA99","outputLabels":["On","Up","Center","Down","Off"]},{"id":"bae1797bfa3badfb","type":"switch","z":"714db96dc7a84ed7","name":"","property":"payload.event.button_number","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"6","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":190,"y":240,"wires":[[],[],[],[],[]]},{"id":"7095caa9b1255919","type":"tab","label":"Radio","disabled":false,"info":"","env":[]},{"id":"3af0ac1f91137c77","type":"api-call-service","z":"7095caa9b1255919","name":"Start Radio","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"script","service":"play_my1027","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":340,"wires":[[]]},{"id":"4631d40f2aee2c12","type":"api-call-service","z":"7095caa9b1255919","name":"Stop Radio","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"script","service":"stop_my1027","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":580,"wires":[[]]},{"id":"4e47136bd8c15f25","type":"api-call-service","z":"7095caa9b1255919","name":"volume up","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"script","service":"kitchen_display_volume_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":400,"wires":[[]]},{"id":"1937efef42c2eedb","type":"api-call-service","z":"7095caa9b1255919","name":"volume down","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"script","service":"kitchen_display_volume_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":520,"wires":[[]]},{"id":"077caf15b34d55ea","type":"server-state-changed","z":"7095caa9b1255919","name":"coffee maker","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.wemo_mini_1","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":100,"wires":[["390ea02e4b5b4084"],[]]},{"id":"390ea02e4b5b4084","type":"time-range-switch","z":"7095caa9b1255919","name":"7am-Noon","lat":"9.974483","lon":"-84.407275","startTime":"07:00","endTime":"12:00","startOffset":0,"endOffset":0,"x":410,"y":140,"wires":[["84691dd872ab9831"],[]]},{"id":"84691dd872ab9831","type":"api-call-service","z":"7095caa9b1255919","name":"set volume","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"script","service":"start_volume","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":140,"wires":[["3af0ac1f91137c77"]]},{"id":"36f5fe3a63aa7f1e","type":"link in","z":"7095caa9b1255919","name":"Pico Press - Radio","links":["7670bcab2e9c96e5"],"x":230,"y":480,"wires":[["487551e76f6d701a"]],"l":true},{"id":"487551e76f6d701a","type":"subflow:714db96dc7a84ed7","z":"7095caa9b1255919","name":"","x":490,"y":480,"wires":[["3af0ac1f91137c77"],["4e47136bd8c15f25"],[],["1937efef42c2eedb"],["4631d40f2aee2c12"]]},{"id":"5dbd87ab.75cd58","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]