TVs.json
[{"id":"6dc0247c.d7210c","type":"subflow","name":"Actionable Notification","info":"Android actionable notification v1.0.0\n\n[Documentation](https://zachowj.github.io/node-red-contrib-home-assistant-websocket/cookbook/actionable-notifications-subflow-for-android.html)\n","category":"HA Actions","in":[{"x":84,"y":80,"wires":[{"id":"9d85d137.fe487"}]}],"out":[{"x":1188,"y":128,"wires":[{"id":"974bd48d.c253e8","port":0}]},{"x":1188,"y":176,"wires":[{"id":"974bd48d.c253e8","port":1}]},{"x":1188,"y":224,"wires":[{"id":"974bd48d.c253e8","port":2}]},{"x":964,"y":240,"wires":[{"id":"5bc7345c.07b1cc","port":1}]}],"env":[{"name":"service","type":"str","value":"notify","ui":{"label":{"en-US":"Notify Service"},"type":"input","opts":{"types":["str"]}}},{"name":"title","type":"str","value":"","ui":{"label":{"en-US":"Title"},"type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"label":{"en-US":"Message"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Title","type":"str","value":"","ui":{"label":{"en-US":"Action 1 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action1Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 1 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Title","type":"str","value":"","ui":{"label":{"en-US":"Action 2 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action2Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 2 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Title","type":"str","value":"","ui":{"label":{"en-US":"Action 3 Title"},"type":"input","opts":{"types":["str"]}}},{"name":"action3Uri","type":"str","value":"","ui":{"label":{"en-US":"Action 3 URI (optional)"},"type":"input","opts":{"types":["str"]}}},{"name":"userInfo","type":"bool","value":"false","ui":{"label":{"en-US":"Populate User Information"},"type":"checkbox"}},{"name":"sticky","type":"bool","value":"false","ui":{"label":{"en-US":"Sticky"},"type":"checkbox"}},{"name":"group","type":"str","value":"None","ui":{"label":{"en-US":"Group"},"type":"select","opts":{"opts":[{"l":{"en-US":"None"},"v":""},{"l":{"en-US":"Cameras"},"v":"camera"},{"l":{"en-US":"Security"},"v":"security"},{"l":{"en-US":"Garage"},"v":"garage"},{"l":{"en-US":"Laundry Room"},"v":"laundry_room"}]}}},{"name":"color","type":"str","value":"","ui":{"label":{"en-US":"Color"},"type":"input","opts":{"types":["str"]}}},{"name":"timeout","type":"num","value":"","ui":{"label":{"en-US":"Timeout"},"type":"input","opts":{"types":["num"]}}},{"name":"icon","type":"str","value":"","ui":{"label":{"en-US":"Icon"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#46B1EF","outputLabels":["Action 1","Action 2","Action 3","Cleared"],"icon":"font-awesome/fa-mobile-phone","status":{"x":244,"y":272,"wires":[{"id":"204dbcfc.144ae4","port":0}]}},{"id":"f9e57204.71076","type":"function","z":"6dc0247c.d7210c","name":"create service call","func":"msg._originalPayload = msg.payload;\nflow.set('latestMessage', msg);\n\nconst services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nconst actions = [1, 2, 3].reduce((acc, i) => {\n    const name = `action${i}`\n    const id = flow.get(`${name}Id`);\n    const title = getActionProperty(i, \"title\") ?? env.get(`${name}Title`);\n    const uri = getActionProperty(i, \"uri\") ?? env.get(`${name}Uri`);\n    const action = uri.length ? 'URI' : title ? id : undefined;\n\n    acc.push({ action, title, uri });\n\n    return acc;\n}, []);\n\nconst tag = flow.get('notificationTag');\nconst data = mergeDeep({\n        title: env.get('title'),\n        message: env.get('message'),\n        data: {\n            tag,\n            color: env.get(\"color\"),\n            group: env.get(\"group\"),\n            sticky: env.get(\"sticky\"),\n            timeout: env.get(\"timeout\"),\n            icon: env.get(\"icon\")\n        },\n    },    \n    msg.actionable,    \n    {data: {actions}},\n);\n\nif(tag !== data?.data?.tag) {\n    flow.set('notificationTag', data?.data?.tag);\n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data,\n    };\n    node.send(msg);\n});\n\nnode.done();\n\nfunction getActionProperty(index, prop) {\n    const i = index - 1;\n\n    return msg?.actionable?.data?.actions?.[i]?.[prop];\n}\n\n/**\n * Simple object check.\n * @param item\n * @returns {boolean}\n */\nfunction isObject(item) {\n    return (item && typeof item === 'object' && !Array.isArray(item));\n}\n\n/**\n * Deep merge two objects.\n * @param target\n * @param sources\n */\nfunction mergeDeep(target, ...sources) {\n    if (!sources.length) return target;\n    const source = sources.shift();\n\n    if (isObject(target) && isObject(source)) {\n        for (const key in source) {\n            if (isObject(source[key])) {\n                if (!target[key]) Object.assign(target, { [key]: {} });\n                mergeDeep(target[key], source[key]);\n            } else {\n                Object.assign(target, { [key]: source[key] });\n            }\n        }\n    }\n\n    return mergeDeep(target, ...sources);\n}\n","outputs":1,"noerr":0,"initialize":"const randomId = () => Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);\n\n[1,2,3].forEach(i => {\n    flow.set(`action${i}Id`, `action${i}_${randomId()}`);\n})\n\n\nflow.set('notificationTag', `${env.get('title')}_${randomId()}`);","finalize":"","libs":[],"x":298,"y":80,"wires":[["368c9723.5876f8"]]},{"id":"974bd48d.c253e8","type":"switch","z":"6dc0247c.d7210c","name":"which action?","property":"eventData.event.action","propertyType":"msg","rules":[{"t":"eq","v":"action1Id","vt":"flow"},{"t":"eq","v":"action2Id","vt":"flow"},{"t":"eq","v":"action3Id","vt":"flow"}],"checkall":"true","repair":false,"outputs":3,"x":1024,"y":176,"wires":[[],[],[]]},{"id":"204dbcfc.144ae4","type":"status","z":"6dc0247c.d7210c","name":"","scope":["f9e57204.71076","5bc7345c.07b1cc","a622c92a.2d9898","368c9723.5876f8"],"x":124,"y":272,"wires":[[]]},{"id":"5bc7345c.07b1cc","type":"function","z":"6dc0247c.d7210c","name":"build message","func":"const latestMessage = flow.get('latestMessage');\nconst event = msg.payload.event;\n\nlatestMessage.eventData = msg.payload;\nlatestMessage.payload = latestMessage._originalPayload;\ndelete latestMessage._originalPayload;\ndelete latestMessage.actionable;\n\nif(env.get('userInfo')) {\n    const userData = msg.userData.find(u => u.id === msg.payload.context.user_id);\n    latestMessage.userData = userData;\n}\n\nif(msg.event_type === 'mobile_app_notification_cleared') {\n    node.status({\n        text: `cleared at: ${getPrettyDate()}`,\n        shape: 'dot',\n        fill: 'blue'\n    });\n    \n    return [null, latestMessage];\n}\n\nconst index = [1,2,3].find(i => event[`action_${i}_key`] === event.action);\nnode.status({\n    text: `${event[`action_${index}_title`]} at: ${getPrettyDate()}`,\n    shape: 'dot',\n    fill: 'green'\n});\n\nreturn latestMessage;\n\n\nfunction getPrettyDate() {\n    return new Date().toLocaleDateString('en-US', {\n        month: 'short',\n        day: 'numeric',\n        hour12: false,\n        hour: 'numeric',\n        minute: 'numeric',\n    });\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":832,"y":176,"wires":[["974bd48d.c253e8"],[]]},{"id":"8d3bdc0c.37493","type":"switch","z":"6dc0247c.d7210c","name":"belongs here?","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"notificationTag","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":432,"y":176,"wires":[["83ad2004.d04d"]]},{"id":"271e4479.b9249c","type":"ha-api","z":"6dc0247c.d7210c","name":"get user info","server":"fae82b56.5dc228","version":1,"debugenabled":false,"protocol":"websocket","method":"get","path":"","data":"{\"type\": \"config/auth/list\"}","dataType":"json","responseType":"json","outputProperties":[{"property":"userData","propertyType":"msg","value":"","valueType":"results"}],"x":822,"y":128,"wires":[["5bc7345c.07b1cc"]]},{"id":"3618f055.6909a","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_cleared","server":"fae82b56.5dc228","version":2,"eventType":"mobile_app_notification_cleared","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":224,"wires":[["8d3bdc0c.37493"]]},{"id":"83ad2004.d04d","type":"switch","z":"6dc0247c.d7210c","name":"fetch user info?","property":"userInfo","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":624,"y":176,"wires":[["271e4479.b9249c"],["5bc7345c.07b1cc"]]},{"id":"9d85d137.fe487","type":"switch","z":"6dc0247c.d7210c","name":"","property":"clear_notification","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":80,"wires":[["f9e57204.71076"],["a622c92a.2d9898"]],"l":false},{"id":"a622c92a.2d9898","type":"function","z":"6dc0247c.d7210c","name":"create clear notification","func":"const services = env.get('service');\nif(!services) {\n    node.status({\n        text: 'no services defined',\n        shape: 'ring',\n        fill: 'red'\n    });\n    return;    \n}\n\nservices.trim().split(/,\\s*/).forEach(service => {\n    if(!service) return;\n    \n    msg.payload = {\n        service,\n        data: {\n            message: \"clear_notification\",\n            data: {\n                tag: flow.get('notificationTag'),\n            }\n        }\n    };\n    node.send(msg);\n});\n\nnode.status({text: \"cleared\"});\nnode.done();","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":318,"y":128,"wires":[["368c9723.5876f8"]]},{"id":"9bfe567c.3d10c8","type":"server-events","z":"6dc0247c.d7210c","name":"mobile_app_notification_action","server":"fae82b56.5dc228","version":2,"eventType":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"},{"property":"event_type","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":194,"y":176,"wires":[["8d3bdc0c.37493"]]},{"id":"368c9723.5876f8","type":"api-call-service","z":"6dc0247c.d7210c","name":"","server":"5dbd87ab.75cd58","version":5,"debugenabled":false,"domain":"notify","service":"mobile_app_pixel_3_brad","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","service_domain":"notify","mergecontext":"","x":570,"y":80,"wires":[[]]},{"id":"5dbd87ab.75cd58","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"e3cf7520.20b3b8","type":"tab","label":"TVs","disabled":false,"info":""},{"id":"1d21df839ab7785a","type":"junction","z":"e3cf7520.20b3b8","x":880,"y":520,"wires":[["a514f90847021286","bf8c468b8c20bd8a"]]},{"id":"7ae877c6e25a88c7","type":"junction","z":"e3cf7520.20b3b8","x":880,"y":1080,"wires":[["3f32e09fd38c9842","bde96dcb0a94df46"]]},{"id":"32eaa0a57a3bbd11","type":"junction","z":"e3cf7520.20b3b8","x":560,"y":1100,"wires":[["d510cd0838d2e80b"]]},{"id":"c23c95cd99103f3a","type":"debug","z":"e3cf7520.20b3b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1130,"y":620,"wires":[]},{"id":"5d9eb4ee57d5030c","type":"api-call-service","z":"e3cf7520.20b3b8","name":"turn off","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.harmony_living_room"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":520,"wires":[["c23c95cd99103f3a"]]},{"id":"5352ca4839c4060d","type":"change","z":"e3cf7520.20b3b8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":600,"wires":[["c23c95cd99103f3a","1d21df839ab7785a"]]},{"id":"cbc09af2c95f5b01","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":466.00000762939453,"y":1137.0000228881836,"wires":[["32eaa0a57a3bbd11"],["32eaa0a57a3bbd11"],["32eaa0a57a3bbd11"],["5fda925c19ebe3a7"]]},{"id":"5fda925c19ebe3a7","type":"change","z":"e3cf7520.20b3b8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":1180,"wires":[["c4d2ef0270e085ce","7ae877c6e25a88c7"]]},{"id":"c4d2ef0270e085ce","type":"debug","z":"e3cf7520.20b3b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1226.0000076293945,"y":1177.0000228881836,"wires":[]},{"id":"52dba84ad5c8c10b","type":"api-call-service","z":"e3cf7520.20b3b8","name":"turn off","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":["9452b8b80e08442fecb38be64e2afa4b"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1196.0000076293945,"y":1077.0000228881836,"wires":[["c4d2ef0270e085ce","9b09f549aa5617f6"]]},{"id":"acb7b06db1dbd60d","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Activity NOT Chromecast","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.bedroom_hub_watch_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":false,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1320,"wires":[["59df5d89221fc899"],[]]},{"id":"e8c5a72475c4fdf3","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Shield Tv on","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.harmony_living_room_shield_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":530,"y":440,"wires":[["1d21df839ab7785a"],[]]},{"id":"4c32c656deed836c","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Chromecast On","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.bedroom_hub_watch_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":660,"y":1000,"wires":[["7ae877c6e25a88c7"],[]]},{"id":"10de0a94d308a228","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Nintendo Switch Bedroom","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.bedroom_hub_play_a_game","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":1560,"wires":[["89bce28e0185f238"]]},{"id":"12fa0925def74686","type":"debug","z":"e3cf7520.20b3b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1290,"y":1260,"wires":[]},{"id":"89bce28e0185f238","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1560,"wires":[["c73499d7b35a752b"],["664c1d470ba8a199"]]},{"id":"c73499d7b35a752b","type":"api-call-service","z":"e3cf7520.20b3b8","name":"Switch Living Room","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.harmony_living_room_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":1480,"wires":[["8d076a54e92ec7b4"]]},{"id":"664c1d470ba8a199","type":"api-call-service","z":"e3cf7520.20b3b8","name":"Switch Living Room","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.harmony_living_room_switch"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":830,"y":1620,"wires":[[]]},{"id":"2ee0aa97e8934b93","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Kitchen TV","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.kitchen_tv","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":280,"y":1720,"wires":[["7b98026624e08127"],["c28d5bfb9addac4a"]]},{"id":"7b98026624e08127","type":"api-call-service","z":"e3cf7520.20b3b8","name":"Kitchen Harmony","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"remote","service":"turn_on","areaId":[],"deviceId":[],"entityId":["remote.kitchen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":1720,"wires":[[]]},{"id":"c28d5bfb9addac4a","type":"api-call-service","z":"e3cf7520.20b3b8","name":"Kitchen Harmony","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"remote","service":"turn_off","areaId":[],"deviceId":[],"entityId":["remote.kitchen"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":1780,"wires":[[]]},{"id":"b0ce36430b6cfe2e","type":"api-call-service","z":"e3cf7520.20b3b8","name":"1 Minute Warning","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"notify","service":"shield2017","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Auto Off 1 Min\",\"data\":{\"fontsize\":\"max\",\"duration\":60,\"transparency\":\"75%\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1330,"y":1000,"wires":[[]]},{"id":"6db6b801ea69397f","type":"subflow:6dc0247c.d7210c","z":"e3cf7520.20b3b8","name":"brad","env":[{"name":"title","value":"Living Room TV Off","type":"str"},{"name":"message","value":"1 Minute Remaining","type":"str"},{"name":"action1Title","value":"Snooze 10 Minutes","type":"str"},{"name":"action2Title","value":"Cancel Timer","type":"str"},{"name":"userInfo","type":"bool","value":"true"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"},{"name":"timeout","value":"60","type":"num"}],"x":630,"y":360,"wires":[["1d21df839ab7785a","858e2075b001d650"],["858e2075b001d650","5352ca4839c4060d"],[],[]]},{"id":"1512e31b46f1a0d2","type":"subflow:6dc0247c.d7210c","z":"e3cf7520.20b3b8","name":"brad","env":[{"name":"title","value":"Bedroom TV Off","type":"str"},{"name":"message","value":"1 Minute Remaining","type":"str"},{"name":"action1Title","value":"Snooze 10 Minutes","type":"str"},{"name":"action2Title","value":"Cancel Timer","type":"str"},{"name":"userInfo","type":"bool","value":"true"},{"name":"sticky","type":"bool","value":"true"},{"name":"group","value":"","type":"str"}],"x":750,"y":920,"wires":[["7ae877c6e25a88c7","be9fcfc6fad37cb5"],["be9fcfc6fad37cb5","5fda925c19ebe3a7"],[],[]]},{"id":"9b09f549aa5617f6","type":"api-call-service","z":"e3cf7520.20b3b8","name":"LEDs off","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.bedroom_lights"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":1080,"wires":[[]]},{"id":"6de1e5631ec2f3e0","type":"inject","z":"e3cf7520.20b3b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":390,"y":640,"wires":[["5352ca4839c4060d"]]},{"id":"bd9a0a2396ef0284","type":"inject","z":"e3cf7520.20b3b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":610,"y":1260,"wires":[["5fda925c19ebe3a7"]]},{"id":"21a6f0a5b58f5647","type":"api-call-service","z":"e3cf7520.20b3b8","name":"1 Minute Warning","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"notify","service":"shield_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Auto Off 1 Min\",\"data\":{\"fontsize\":\"max\",\"duration\":60,\"transparency\":\"75%\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":1920,"wires":[[]]},{"id":"31bca9f77365a247","type":"inject","z":"e3cf7520.20b3b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":320,"y":1880,"wires":[["21a6f0a5b58f5647"]]},{"id":"77e74f0eb66dcb3a","type":"api-call-service","z":"e3cf7520.20b3b8","name":"1 Minute Warning","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"notify","service":"shield_pro","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Auto Off 1 Min\",\"data\":{\"fontsize\":\"max\",\"duration\":60,\"transparency\":\"75%\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":440,"wires":[[]]},{"id":"858e2075b001d650","type":"change","z":"e3cf7520.20b3b8","name":"clear notification","rules":[{"t":"set","p":"clear_notification","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":280,"wires":[["6db6b801ea69397f"]]},{"id":"be9fcfc6fad37cb5","type":"change","z":"e3cf7520.20b3b8","name":"clear notification","rules":[{"t":"set","p":"clear_notification","pt":"msg","to":"clear","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":840,"wires":[["1512e31b46f1a0d2"]]},{"id":"a514f90847021286","type":"stoptimer","z":"e3cf7520.20b3b8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":980,"y":520,"wires":[["5d9eb4ee57d5030c"],[]]},{"id":"3f32e09fd38c9842","type":"stoptimer","z":"e3cf7520.20b3b8","duration":"30","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1000,"y":1080,"wires":[["52dba84ad5c8c10b"],[]]},{"id":"8d076a54e92ec7b4","type":"stoptimer","z":"e3cf7520.20b3b8","duration":"10","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":830,"y":1560,"wires":[["664c1d470ba8a199"],[]]},{"id":"bde96dcb0a94df46","type":"stoptimer","z":"e3cf7520.20b3b8","duration":"29","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":1000,"y":1020,"wires":[["b0ce36430b6cfe2e","1512e31b46f1a0d2"],[]]},{"id":"bf8c468b8c20bd8a","type":"stoptimer","z":"e3cf7520.20b3b8","duration":"29","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":980,"y":460,"wires":[["6db6b801ea69397f","77e74f0eb66dcb3a","bbd60887f3bc3aa1"],[]]},{"id":"46a41f9c1124938e","type":"inject","z":"e3cf7520.20b3b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":370,"y":360,"wires":[["6db6b801ea69397f"]]},{"id":"54f54cac48fb9bec","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Masterbed Shield Tv","server":"fae82b56.5dc228","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.shield_2","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":1220,"wires":[["e546dd24f0eb6c70"]]},{"id":"6f34699c07e6c83b","type":"debug","z":"e3cf7520.20b3b8","name":"debug harmony","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":780,"wires":[]},{"id":"4bb7602f3ff95cb0","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"data.new_state.attributes.current_activity","propertyType":"msg","rules":[{"t":"eq","v":"SHIELD TV","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":720,"wires":[["6f34699c07e6c83b"],["5352ca4839c4060d"]]},{"id":"39cf1de8cbe467c2","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Harmony Living Room","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"remote.harmony_living_room","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":720,"wires":[["4bb7602f3ff95cb0"]]},{"id":"59df5d89221fc899","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"data.new_state.attributes.current_activity","propertyType":"msg","rules":[{"t":"eq","v":"Chromecast","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":1240,"wires":[[],["5fda925c19ebe3a7"]]},{"id":"2cee991b849f8a52","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Plex","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_android_tv_shield_android_tv_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":1080,"wires":[["cbc09af2c95f5b01"]]},{"id":"bbd60887f3bc3aa1","type":"api-call-service","z":"e3cf7520.20b3b8","name":"1 Minute Warning","server":"fae82b56.5dc228","version":5,"debugenabled":false,"domain":"notify","service":"shield_pro_wifi","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Auto Off 1 Min\",\"data\":{\"fontsize\":\"max\",\"duration\":60,\"transparency\":\"75%\"}}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":380,"wires":[[]]},{"id":"93748574eb46e823","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Living Room UPS","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.servers_battery_charge","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":190,"y":2060,"wires":[["a8a93550b8bcde3f"]]},{"id":"a8a93550b8bcde3f","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"30","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":2020,"wires":[["4a22090f9b777fc1"]]},{"id":"4a22090f9b777fc1","type":"debug","z":"e3cf7520.20b3b8","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":2060,"wires":[]},{"id":"e546dd24f0eb6c70","type":"api-current-state","z":"e3cf7520.20b3b8","name":"!SHIELD TV","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"SHIELD TV","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"select.bedroom_hub_activities","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":1140,"wires":[["cbc09af2c95f5b01"],[]]},{"id":"385f21bd8ef6a774","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Shield Pro","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.shield_pro","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":580,"wires":[[]]},{"id":"9bcc29cbd9c21182","type":"server-state-changed","z":"e3cf7520.20b3b8","name":"Plex","server":"5dbd87ab.75cd58","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"media_player.plex_plex_for_android_tv_shield_android_tv","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":420,"wires":[["5faacc2f4de39e11"]]},{"id":"5faacc2f4de39e11","type":"switch","z":"e3cf7520.20b3b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"idle","vt":"str"},{"t":"eq","v":"paused","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":540,"wires":[["b3f15d9b7c4744bb"],["b3f15d9b7c4744bb"],["b3f15d9b7c4744bb"],["5352ca4839c4060d"]]},{"id":"b3f15d9b7c4744bb","type":"api-current-state","z":"e3cf7520.20b3b8","name":"Activity","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"SHIELD TV","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.harmony_living_room_activities","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":520,"wires":[["3fea2c2431f7c63d"],["5352ca4839c4060d"]]},{"id":"d510cd0838d2e80b","type":"api-current-state","z":"e3cf7520.20b3b8","name":"Activity","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"SHIELD TV","halt_if_type":"str","halt_if_compare":"is","entity_id":"select.bedroom_hub_activities","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":1100,"wires":[["7ae877c6e25a88c7"],[]]},{"id":"78b3d15c527a1978","type":"api-current-state","z":"e3cf7520.20b3b8","name":"IPTV","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"$entity().attributes.source = \"IPTV Smarters Pro\"","halt_if_type":"jsonata","halt_if_compare":"jsonata","entity_id":"media_player.android_tv_192_168_1_80","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"data.attributes.source","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"data.attribues.source","valueType":"jsonata"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":920,"wires":[["d1fd92a36df13907"],[]]},{"id":"d1fd92a36df13907","type":"debug","z":"e3cf7520.20b3b8","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":920,"wires":[]},{"id":"fdeea3384fa61cbb","type":"inject","z":"e3cf7520.20b3b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":920,"wires":[["78b3d15c527a1978"]]},{"id":"3fea2c2431f7c63d","type":"api-current-state","z":"e3cf7520.20b3b8","name":"no guests","server":"5dbd87ab.75cd58","version":3,"outputs":2,"halt_if":"0","halt_if_type":"num","halt_if_compare":"is","entity_id":"input_number.guests","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":720,"y":520,"wires":[["1d21df839ab7785a"],["5352ca4839c4060d"]]},{"id":"fae82b56.5dc228","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]